POLYGON_WALLET_PRIVATE_KEY=""
OPENAI_API_KEY=""
TAVILY_API_KEY=""
NEWSAPI_API_KEY=""
USE_PAPER_TRADES="true"
BTC_AGENT_DEBUG="false"
BTC_AGENT_LIVE_FEE_RATE_BPS="1000"
BTC_AGENT_LIVE_MIN_ORDER_USD="1"
BTC_AGENT_TRADE_SHARES_SIZE="5"
BTC_AGENT_MAX_TRADES_PER_PERIOD="1"
